<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
<section name="awsCouchbaseBucket" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
</configSections>
 
<appSettings>
<add key="numberOfKeys" value="10"/>
<add key="cacheKeyPrefix" value="cachekey"/>
<add key="cacheKeyTimeToLiveMinutes" value="1"/>
<add key="secondsToSleepBetweenIterations" value="5"/>
</appSettings>
 
<awsCouchbaseBucket>
<servers bucket="default" bucketPassword="" retryCount="0" retryTimeout="00:00:00.500">
<add uri="http://54.241.56.203:8091/pools" />
</servers>
<!-- note: had to bump connectionTimeout to 3 full seconds -->
<socketPool minPoolSize="10" maxPoolSize="20" connectionTimeout="00:00:03.00" deadTimeout="00:00:10" queueTimeout="00:00:00.250" />
</awsCouchbaseBucket>
 
</configuration>
